body {
    font-family: 'Bebas', sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
  }
h1 {
  font-family: 'Bebas', sans-serif;
  font-size: 1.2vw;
}

  h2 {
    font-family: 'Bebas', sans-serif;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
  }
  h3 {
    font-family: 'Bebas', sans-serif;
    font-size: .5vw;
    text-align: center;
    padding-bottom: 2%;
  }
  p {
    font-family: "Bebas", sans-serif;
    text-align: center;
  }
  .container-fluid {
    display: flex;
    align-items: center;
    align-content: center;
  }
  .container-fluid-2 {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 2%;
    margin-bottom: 20%;
  }
  .image-side {
    width: 100%;
    position: absolute;
    top: 150px;
  }

/* Navigation bar */

/* General */
.customNav {
  position: fixed;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}
.navbar {
  background-color: #EFF2F7;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
  font-size: 1em;
  padding: 5px 5px;
}
.navbar-brand img {
  padding-right: 15px;
  width: 100%;
}
.nav-item {
  margin: 0px 15px;
}

/* Navigation dropdown menu */
.dropdown-menu {
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

.carddiv {
  overflow: scroll;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  justify-content: center;
  align-items: center;
  color: black;
}

li a {
  display: block;
  text-decoration: none;
  color:black;
}

.bottomnavbar {
  text-align: center;  
  color: black;
  background-color:white;
  bottom: 0;
  width: 100%;
  margin-top: 2%;
  font-size: .5vw;
}

.column {
  width: 75%;
}
.sectionhero {
  background-color: #EFF2F7;
  align-items: center;
  text-align: center;
  text-overflow: inherit;
}

.peopleimg {
  width: 25%;
  align-items: center;
  margin-top: 2%;
}

.anotherherobox {
  align-items: center;
  text-align: center;
  text-overflow: inherit;
  }

