body {
    font-family: 'Bebas', sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
  }
h1 {
  font-family: 'Bebas', sans-serif;
  font-size: 1.2vw;
}

  h2 {
    font-family: 'Bebas', sans-serif;
    font-size: 1 vw;
    font-weight: bold;
    text-align: center;
  }
  h3 {
    font-family: 'Bebas', sans-serif;
    font-size: .5vw;
    text-align: center;
    padding-bottom: 2%;
  }
  
  p {
    font-family: "Bebas", sans-serif;
    text-align: center;
  }
  .container-fluid {
    display: flex;
    background-color: gray;
    margin-top: 5%;
    align-items: center;
    align-content: center;
  }
  .row {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5%;
  }
  .col {
    justify-content: center;
    text-align: center;
    padding: 5% 5%;
  }
/* Navigation bar */

/* General */
.customNav {
  position: fixed;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}

/* Navigation dropdown menu */
.dropdown-menu {
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

.carddiv {
  overflow: scroll;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
